* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 0;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #a0a0a0 #f0f0f0;
}

:root {
    --taskbar-height: 48px;
    --resize-handle-size: 3px;
    overflow: hidden;
}

body {
    z-index: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#context-menu {
    --ctx-x: 0;
    --ctx-y: 0;

    position: absolute;
    top: var(--ctx-y);
    left: var(--ctx-x);
}

#context-menu,
.context-menu--nested {
    z-index: 99;

    padding: 4px;
    margin: 0;
    min-width: 250px;

    background-color: #f2f2f2;

    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);

    border: 1px solid #a0a0a0;
}

#context-menu[data-hidden="true"] {
    display: none;
}

#context-menu hr,
.context-menu--nested hr {
    width: 95%;
    margin-block: 0.3rem;

    border: none;
    height: 1px;
    background-color: #919191;
}

.context-menu--item {
    position: relative;
    user-select: none;
    cursor: pointer;
    padding-inline-start: 2.5rem;
    padding-block: 3px;
    width: 100%;
}

.context-menu--item:hover {
    background-color: #d9d9d9;
}

.context-menu--item[data-disabled="true"] {
    pointer-events: none;
    color: #858585;
}

.context-menu--item:has(> .context-menu--item-icon) {
    height: 24px;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
}

.context-menu--item-icon {
    display: inline-block;
    padding-inline: 0.5rem;
    max-height: 100%;
    width: 2.5rem;
}

.context-menu--item-icon img {
    height: 100%;
}

.context-menu--item-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.context-menu--item-name:after {
    content: url("./icons/pointer-right.svg");
    width: 15px;
    height: 100%;
    margin-right: 3px;
}

.context-menu--nested {
    display: none;
    z-index: 100;
    position: absolute;
    left: 100%;
    top: 0;
}

.context-menu--item:hover > .context-menu--nested {
    display: block;
}

#desktop-area {
    min-height: calc(100vh - var(--taskbar-height));
}

#taskbar-area {
    position: relative;
    min-height: var(--taskbar-height);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    z-index: 9999;
}

.taskbar--app {
    cursor: pointer;
    height: var(--taskbar-height);
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar--app:hover {
    background-color: #fff2;
}

#taskbar--appslist {
    margin-block: 0;
    display: flex;
}

.taskbar--app[data-active="true"] {
    border-bottom: 5px solid white;
}

.taskbar--app img {
    height: 30px;
}

/* #taskbar--start-button {
} */

.taskbar--start-logo {
    width: 25px;
}

.taskbar--search-wrapper {
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
}

#taskbar--search {
    outline: transparent;
    color: black;
    border: none;

    height: 100%;
    width: 100%;

    padding: 1rem 1rem 1rem 0.5rem;
    font-size: 1rem;
}

.taskbar--search-icon {
    transform: scaleX(-1);
    width: 17px;
    margin-left: 1rem;
    opacity: 0.6;
}

#taskbar--appslist {
    list-style: none;
    padding: 0;
}

.taskbar--datetime-wrapper {
    color: white;
    font-weight: bold;

    position: absolute;
    right: 0;
    height: calc(100% - 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-inline: 6px;
}

.window {
    --pos-x: 100px;
    --pos-y: 100px;
    --win-height: 400px;
    --win-width: 600px;
    position: absolute;

    top: var(--pos-y);
    left: var(--pos-x);
    height: var(--win-height);
    width: var(--win-width);

    min-height: 300px;
    min-width: 300px;

    background: white;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2),
        0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    overflow: auto;
}

.window[data-z="normal"] {
    z-index: 10;
}

.window[data-z="focused"] {
    z-index: 20;
}

.window[data-z="top-most"] {
    z-index: 30;
}

.window[data-state="desktop"] {
    display: block;
}

.window[data-state="minimized"] {
    display: none;
}

.window[data-state="maximized"] {
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100vh - var(--taskbar-height));
}

.window--titlebar {
    height: 30px;
    cursor: move;
    display: flex;
    justify-content: space-between;
}

.window--titlebar-info {
    display: flex;
    align-items: center;
}

.window--titlebar-info span {
    white-space: nowrap;
}

.window--titlebar-info img {
    height: 23px;
    margin-inline: 6px;
}

.window--titlebar-buttons {
    height: 100%;
}

.window--titlebar-buttons button {
    height: 100%;
    width: 50px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.window--titlebar-buttons button:hover {
    background-color: #eee;
}

.resize-handle {
    position: absolute;
    background: transparent;
    z-index: 1000;
}

/* Sides */
.resize-handle-top {
    top: 0;
    left: 0;
    right: 0;
    height: var(--resize-handle-size);
    cursor: ns-resize;
}
.resize-handle-right {
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--resize-handle-size);
    cursor: ew-resize;
}
.resize-handle-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--resize-handle-size);
    cursor: ns-resize;
}
.resize-handle-left {
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--resize-handle-size);
    cursor: ew-resize;
}

/* Corners */
.resize-handle-top-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}
.resize-handle-top-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}
.resize-handle-bottom-left {
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nesw-resize;
}
.resize-handle-bottom-right {
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}
